progress-bar {
 
    .progress-outer {
        width: 50%;
        margin-left: 20px;
        margin-top: 30px;
        text-align: center;
        background-color: #d1a7b8;
        border: 1px solid #dcdcdc;
        color: #fff;
    }
 
    .progress-inner {
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        background-color: #bf4049;
    }
 
}