<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="io.kirtan.audiostreaming" ios-CFBundleVersion="0.8.2" version="0.8.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Kirtan Radio</name>
  <description>&#xD;
     We're an Internet radio station in the process of building an open source mobile audio streaming app that can be used by anyone who wants to create their own Spotify-like app. The idea is to use the advanced Ionic HTML5 hybrid mobile app framework to create both an Android and iOS app based on the same code.&#xD;
&#xD;
      As an Internet radio station we're already providing an audio stream with 128k and 64k which can be listened to on a desktop computer, smart phone or Internet radio player. In our case the technology used for the Internet radio stream is Icecast (streaming media server) and Liquidsoap (streaming source client) both of which is also free open source software licensed under the GNU General Public License version 2.0 (GPLv2).&#xD;
  </description>
  <author email="nkd@24hourkirtan.fm" href="www.24hourkirtan.fm">&#xD;
    Nanda Kishor&#xD;
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="radio-only" value="true"/>

  <preference name="AndroidLaunchMode" value="singleInstance"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="orientation" value="portrait"/>
  <preference name="fullscreen" value="true"/>
  <preference name="StatusBarStyle" value="blacktranslucent"/>
  <preference name="StatusBarOverlaysWebView" value="true"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <platform name="android">
    <icon density="ldpi" src="resources\android\icon\drawable-ldpi-icon.png"/>
    <icon density="mdpi" src="resources\android\icon\drawable-mdpi-icon.png"/>
    <icon density="hdpi" src="resources\android\icon\drawable-hdpi-icon.png"/>
    <icon density="xhdpi" src="resources\android\icon\drawable-xhdpi-icon.png"/>
    <icon density="xxhdpi" src="resources\android\icon\drawable-xxhdpi-icon.png"/>
    <icon density="xxxhdpi" src="resources\android\icon\drawable-xxxhdpi-icon.png"/>
    <splash density="port-ldpi" src="resources\android\splash\drawable-port-ldpi-screen.png"/>
    <splash density="port-mdpi" src="resources\android\splash\drawable-port-mdpi-screen.png"/>
    <splash density="port-hdpi" src="resources\android\splash\drawable-port-hdpi-screen.png"/>
    <splash density="port-xhdpi" src="resources\android\splash\drawable-port-xhdpi-screen.png"/>
    <splash density="port-xxhdpi" src="resources\android\splash\drawable-port-xxhdpi-screen.png"/>
    <splash density="port-xxxhdpi" src="resources\android\splash\drawable-port-xxxhdpi-screen.png"/>
  </platform>
  <platform name="ios">
    <icon height="57" src="resources/ios/icon/icon.png" width="57"/>
    <icon height="114" src="resources/ios/icon/icon@2x.png" width="114"/>
    <icon height="40" src="resources/ios/icon/icon-40.png" width="40"/>
    <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80"/>
    <icon height="120" src="resources/ios/icon/icon-40@3x.png" width="120"/>
    <icon height="50" src="resources/ios/icon/icon-50.png" width="50"/>
    <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100"/>
    <icon height="60" src="resources/ios/icon/icon-60.png" width="60"/>
    <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120"/>
    <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180"/>
    <icon height="72" src="resources/ios/icon/icon-72.png" width="72"/>
    <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144"/>
    <icon height="76" src="resources/ios/icon/icon-76.png" width="76"/>
    <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152"/>
    <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167"/>
    <icon height="29" src="resources/ios/icon/icon-small.png" width="29"/>
    <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58"/>
    <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87"/>
    <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640"/>
    <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750"/>
    <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242"/>
    <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536"/>
    <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768"/>
    <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640"/>
    <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320"/>
  </platform>
  <icon src="resources/ios/icon/icon-small@3x.png"/>
  <engine name="android" spec="~5.2.2"/>
  <plugin name="nl.kingsquare.cordova.background-audio" source="npm" />
  <hook type="after_prepare" src="hooks/check_radio_mode.js"/>
</widget>