page-gallery {
	.scroll-content {
		margin: 9px !important;
		padding: 0 !important;
	}

	.background {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -9999;
	}

	.toolbar-background, .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
		border: none;
		background-color: white;
	}

	.gallery-selection {
		margin: 8%;
	  	/*
	  	background: rgb(255, 255, 255);
    	background: rgba(255, 255, 255, .85);
    	*/
	}

	.gallery-title {
		color: #BF4049;
		font-family: "Bodoni";
		font-size: 20px;
		margin-bottom: 8px;
	}

	.option {
		color: #8E762C;
		font-family: "Bodoni";
		font-size: 30px;
		margin-bottom: 6px;
	}

	.fade.hide-opacity{
	    opacity: 0;
	}

	.fade{
	    color: #FFFFFF;
	    text-align: center;

	    -webkit-transition: opacity 3s ease-in-out;
	    -moz-transition: opacity 3s ease-in-out;
	    -ms-transition: opacity 3s ease-in-out;
	    -o-transition: opacity 3s ease-in-out;
	 
	}

	.visible {
	  visibility: visible;
	  opacity: 1;
	  //transition: opacity 1s linear;
	}

	.hidden {
	  visibility: hidden;
	  opacity: 0;
	  transition: visibility 0s 2s, opacity 2s linear;
	}
}
