page-gallery {
	.fixed-content {
		padding: 0 !important;
		background: center / 160% url("../assets/imgs/background.jpg");
		opacity: 0.4;
	}

	.scroll-content {
		padding: 10px !important;
	}

	.background {
		padding: 0 !important;
		background-repeat: no-repeat !important;
		position: relative !important;
		height: 100%;
		width: 100%;
		z-index: -9999 !important;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transition: background-image 1s ease-in-out;
		-moz-transition: background-image 1s ease-in-out;
		-o-transition: background-image 1s ease-in-out;
		-ms-transition: background-image 1s ease-in-out;
		transition: background-image 1s ease-in-out;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
		-webkit-transform: translate3d(0, 0, 0);
	}

	.toolbar-background, .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
		border: none;
		background-color: white;
	}

	.gallery-selection {
		top: 0 !important;
	    left: 0 !important;
	    right: 0 !important;
		z-index: 9999 !important;
		position: absolute !important;
		margin: 8%;
	  	background: rgb(255, 255, 255);
    	background: rgba(255, 255, 255, .85);
    	padding: 14px;
	}

	.gallery-title {
		color: #BF4049;
		font-family: "Bodoni";
		font-size: 20px;
		margin-bottom: 8px;
	}

	.option {
		color: #8E762C;
		font-family: "Bodoni";
		font-size: 30px;
		margin-bottom: 6px;
	}

	.fade.hide-opacity{
	    opacity: 0;
	}

	.fade{
	    color: #FFFFFF;
	    text-align: center;

	    -webkit-transition: opacity 3s ease-in-out;
	    -moz-transition: opacity 3s ease-in-out;
	    -ms-transition: opacity 3s ease-in-out;
	    -o-transition: opacity 3s ease-in-out;
	 
	}

	.visible {
	  visibility: visible;
	  opacity: 1;
	  //transition: opacity 1s linear;
	}

	.hidden {
	  visibility: hidden;
	  opacity: 0;
	  transition: visibility 0s 2s, opacity 2s linear;
	}

	.marquee {
	    margin: 0 auto;
	    white-space: nowrap;
	    box-sizing: border-box;
	    animation: marquee 10s linear infinite;
	    font-size: 20px !important;
	}

	/* Make it move */
	@keyframes marquee {
	    0%   { text-indent: 30em }
	    100% { text-indent: -60em }
	}

	.toolbar-title {
		text-overflow: clip !important;
	}
}
