page-select-station {

	#left {
		float: left;
    	width: 50%;
    	height: 100%;
    	position: relative;
	}

	#right {
		border-left: solid 3px #8E762C;
		height: 100%;
	    float: right;
	    width: 50%;
	} 

	.select-image-container {
		position: absolute;
	  	top: 50%;
	  	transform: translateY(-50%);
	  	padding-right: 14px;
	  	padding-left: 14px;
	}

	.select-image {
		width: 100%;
		object-fit: cover;
	}

	.select-station-container {
		position: absolute;
	  	top: 50%;
	  	transform: translateY(-50%);
	  	padding-left: 14px;
	  	padding-right: 40px;
	}

	.instruction {
		font-size: 12px;
		font-family: "HelveticaNeueLTCom-Lt";
		line-height: 20px;
		color: #8E762C !important;
		padding-bottom: 8px;
	}

	.station-name, .station-name a {
		font-size: 36px;
		font-family: "Bodoni";
		color: #8E762C !important;
	}

	.station-name a {
		text-decoration: underline;
	}

	.description {
		font-size: 15px;
		font-family: "HelveticaNeueLTCom-Lt";
		color: #BF4049 !important;
	}

	.or {
		font-size: 12px;
		font-family: "HelveticaNeueLTCom-Md";
		color: #8E762C !important;
		padding-top: 12px;
		padding-bottom: 6px;
	}
}
