<ion-view view-title="{{title}}">
  <ion-content>
    <ion-list>
	  <a class="item item-icon-right" ng-repeat="song in songs track by $index" ng-click="play(song, $index)">
    	<h2>{{song.title}}</h2>
        <p>{{song.artist}}</p>
        <i class="icon ion-plus" ng-click="showAddToPlaylistModal($event, song)" ng-if="state.view != 'playlist'"></i>
        <i class="icon ion-play" ng-if="state.view == 'playlist'"></i>
	  </a>
	  <div class="item center" ng-if="songs && !songs.length">
    	No songs available.
	  </div>
	</ion-list>
	<ion-infinite-scroll
			ng-if="more"
	    on-infinite="loadMore()"
	    distance="5%">
	 </ion-infinite-scroll>
  </ion-content>
   <ion-footer-bar align-title="left" class="bar-dark">
   		<button class="button" ng-click="state.shuffle = !state.shuffle">
			<i class="icon ion-shuffle" ng-class="{'active':state.shuffle}"></i>
		</button>
  		<h1 class="title">{{$root.isPlaying ? $root.song.title || 'Start Listening' : 'Start Listening'}}</h1>
		<button class="button" ng-click="togglePlay()">
			<i class="icon {{ $root.isPlaying ? 'ion-ios-pause' : 'ion-ios-play' }}"></i>
		</button>
	</ion-footer-bar>
</ion-view>
